@import "tailwindcss";

@theme {
    --color-maroon: #c8102e;
}

@layer base {
    @font-face {
        font-family: 'Montserrat';
        src: url('/fonts/Montserrat-VariableFont_opsz,wght.ttf') format('truetype');
        font-weight: 400 700;
        font-style: normal;
    }

    @font-face {
        font-family: 'Jersey10';
        src: url('/fonts/Jersey10-Regular.ttf') format('truetype');
        font-weight: 400 700;
        font-style: normal;
    }

    * {
        font-family: 'Montserrat', sans-serif;
    }

    .font-jersey {
        font-family: 'Jersey10', sans-serif;
    }
}
